body {
    text-align: center;
    background-color: #f7f6ed;
}

.controllers {
    margin-top: 20px;
}

.controllers .slider {
    width: 90%;
}

.span {
    margin: 70px;
}

.transport .btn {
    padding: 2% 11%;
}
